@use "../../styles/variables" as *;

.wellbeing-starts {
  max-width: 1300px;
  padding: 110px 0;
  margin: 0 0 12px;
  background-image: url("/public/background-img.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 650px;
    padding: 0 0 228px;
    margin: 0 auto;
  }

  &__icon {
    width: 44px;
    height: 48px;
    padding: 7px;
    margin: 0 0 45px;
    color: $color-surface-primary;
    border: 2px solid $color-surface-primary;
    border-radius: 9px;
  }

  &__title {
    padding: 0 0 12px;
    color: $color-surface-primary;
    text-align: center;
  }

  &__description {
    color: $color-surface-primary;
    text-align: center;
  }

  &__button {
    padding: 16px;
    padding: 16px 80px;
    color: $color-surface-primary;
    text-align: center;
    background: transparent;
    border: solid 1px;
    border-radius: 67px;
  }
}
