@use "../../styles/variables" as *;

.wellbeing-starts {
    padding: 110px 20px;
    margin: 0 0 12px;
    background-image: url("/public/background-img.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 650px;
        padding: 0 0 228px;
        margin: 0 auto;
    }

    &__icon {
        height: auto;
        margin: 0 0 45px;
        color: $color-surface-primary;
        border: 2px solid $color-surface-primary;
        border-radius: 9px;

        @media (min-width: 600px) {
            width: 92px;
            padding: 22px;
        }

        @media (max-width: 599px) {
            width: 60px;
            padding: 8px 10px;
        }
    }

    &__title {
        margin-bottom: 28px;
        color: $color-surface-primary;
        text-align: center;
    }

    &__description {
        margin-bottom: 28px;
        color: $color-surface-primary;
        text-align: center;

        @media (max-width: 599px) {
            display: none;
        }
    }

    &__button {
        @include button($color-surface-primary, transparent, 1px solid $color-surface-primary);

        @media (max-width: 600px) {
            margin-bottom: 26px;
        }
    }
}
