@use "../../styles/variables" as *;

.nutrition-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
    margin: 0 0 119px;
    background-color: $color-background;

    &__content {
        max-width: 543px;
    }

    &__title {
        padding: 8px 0 41px;
        font-family: Poppins, sans-serif;
        font-size: clamp(16px, 4vw, 50.52px);
        font-weight: 600;
        line-height: 30px;
    }

    &__description {
        font-family: Poppins, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0;
    }

    &__icon {
        padding: 14px 16px;
        margin: 0 0 20px;
        background-color: $color-brand-secondary;
        border-radius: 9px;
    }

    &__list {
        display: flex;
        gap: 69px;
        padding: 8px 16px;
    }

    &__image {
        @media (min-width: 600px) and (max-width: 1023px) {
            display: none;
        }
    }
}
