@use "../../styles/variables" as *;

.nutrition-info {
    display: flex;
    gap: 6.5%;
    align-items: center;
    padding: 80px 110px 110px;
    margin: 0 0 119px;
    background-color: $color-background;
    border-radius: 12px;

    &__title {
        margin: 0 0 41px;
    }

    &__icon {
        min-width: 58px;
        min-height: 57px;
        padding: 14px 16px;
        margin: 0 0 20px;
        background-color: $color-brand-secondary;
        border-radius: 9px;
    }

    &__list {
        display: flex;
        gap: 69px;
    }

    &__item {
        max-width: 240px;
        color: $color-text-primary;
    }

    &__image {
        @media (min-width: 600px) and (max-width: 1023px) {
            display: none;
        }
    }
}
