@use "../../styles/variables" as *;

.nutrition-info {
    display: flex;
    gap: 6.5%;
    align-items: center;
    padding: 80px 110px 110px;
    margin: 0 0 119px;
    background-color: $color-background;
    border-radius: 12px;

    &__title {
        margin: 0 0 41px;
        font-family: Poppins, sans-serif;
        font-weight: 600;
        line-height: 1.2;

        @media (min-width: 1024px) {
            font-size: 50.52px;
        }

        @media (min-width: 600px) and (max-width: 1024px) {
            font-size: 40px;
        }
    }

    &__description {
        font-family: Poppins, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
    }

    &__icon {
        padding: 14px 16px;
        margin: 0 0 20px;
        background-color: $color-brand-secondary;
        border-radius: 9px;
    }

    &__list {
        display: flex;
        gap: 69px;
    }

    &__item {
        max-width: 240px;
    }

    &__image {
        @media (min-width: 600px) and (max-width: 1023px) {
            display: none;
        }
    }
}
