@use "../../styles/variables" as *;

.nutrition-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 0 119px;
  background-color: $color-background;

  &__content {
    max-width: 543px;
  }

  &__title {
    padding: 0 0 41px;
    font-family: Poppins, sans-serif;
    font-size: 50.52px;
    font-weight: 600;
    line-height: 30px;
  }

  &__description {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
  }

  &__icon {
    padding: 14px 16px;
    margin: 0 0 20px;
    background-color: $color-brand-secondary;
    border-radius: 9px;
  }

  &__list {
    display: flex;
    gap: 69px;
  }
}
