@use "../../styles/variables" as *;

.hero {
    margin: 0 0 72px;

    @media (min-width: 1024px) {
        padding-top: 110px;
    }

    @media (min-width: 600px) and (max-width: 1024px) {
        padding-top: 28px;
    }

    &__title {
        margin-bottom: 36px;
        color: $color-text-primary;
        text-align: center;
    }

    &__description {
        padding: 0 8px;
        margin: 0 0 33px;
        color: $color-text-secondary;
        text-align: center;
    }

    &__button {
        display: block;
        padding: 16px 77px;
        margin: 0 auto 72px;

        @include button($text-color: $color-surface-primary, $bg: $color-brand-primary, $border: none);
    }

    &__images-wrapper {
        @media (min-width: 1024px) {
            display: flex;
            gap: 48px;
            justify-content: space-between;
        }

        @media (max-width: 430px) {
            flex-direction: column;
            gap: 28px;
        }

        @media (min-width: 600px) and (max-width: 1023px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 28px;
        }
    }

    &__image-wrapper {
        position: relative;
        height: 390px;
        overflow: hidden;
        border-radius: 16px;
    }

    &__image {
        @media (min-width: 600px) and (max-width: 1023px) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        @media (min-width: 1024px) {
            max-width: 100%;
            height: auto;
        }
    }
}
