@use "../../styles/variables" as *;

.hero {
    @media (min-width: 1024px) {
        padding: 110px 0;
    }

    @media (min-width: 600px) and (max-width: 1023px) {
        padding: 24px 0 80px;
    }

    @media (max-width: 599px) {
        padding: 36px 0;
    }

    &__title {
        margin-bottom: 36px;
        color: $color-text-primary;
        text-align: center;
    }

    &__description {
        padding: 0 8px;
        margin: 0 0 33px;
        color: $color-text-secondary;
        text-align: center;
    }

    &__button {
        display: block;
        padding: 16px 77px;
        margin: 0 auto 72px;

        @include button($text-color: $color-surface-primary, $bg: $color-brand-primary, $border: none);
    }

    &__images-wrapper {
        @media (min-width: 600px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 1024px) {
            gap: 48px;
        }

        @media (min-width: 600px) and (max-width: 1023px) {
            gap: 28px;
        }
    }

    &__image-wrapper {
        border-radius: 16px;

        @media (max-width: 599px) {
            &:not(:last-child) {
                margin-bottom: 28px;
            }
        }
    }

    // &__image {
    //     @media (max-width: 1023px) {
    //         position: absolute;
    //         top: 50%;
    //         left: 50%;
    //         transform: translate(-50%, -50%);
    //     }
    // }
}
