@use "../../styles/variables" as *;

.hero {
    margin: 0 0 72px;

    @media (min-width: 600px) and (max-width: 1023px) {
        max-width: 844px;
    }

    &__title {
        padding: 16px 8px;
        // margin: 0 0 17px;
        font-family: Poppins, sans-serif;
        font-size: clamp(16px, 4.8vw, 65.34px);
        font-weight: 600;
        line-height: 1.25;
        color: $color-text-primary;
        text-align: center;
    }

    &__description {
        padding: 16px 8px;
        margin: 0 0 33px;
        font-family: Poppins, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: $color-text-secondary;
        text-align: center;
    }

    &__button {
        display: block;
        gap: 16px;
        padding: 16px 77px;
        margin: 0 auto 72px;
        font-family: Poppins, sans-serif;
        font-size: 21.33px;
        font-weight: 600;
        line-height: 24px;
        color: $color-surface-primary;
        background-color: $color-brand-primary;
        border-radius: 67px;
    }

    &__images-wrapper {
        display: flex;
        justify-content: space-between;

        @media (min-width: 430px) {
            gap: 48px;
            justify-content: space-between;
        }

        @media (max-width: 430px) {
            flex-direction: column;
            gap: 28px;
        }

        @media (min-width: 600px) and (max-width: 1023px) {
            gap: 28px;
            justify-content: space-between;
        }
    }

    &__image {
        max-width: 100%;
        height: auto;
        border-radius: 16px;

        // @media (min-width: 600px) and (max-width: 1023px) {
        //     width: 48%;
        //     object-fit: cover;
        // }
    }
}
