$color-text-primary: #2a2a2a;
$color-text-secondary: #2b2b2b;
$color-surface-primary: #fff;
$color-brand-primary: #285e67;
$color-brand-secondary: #fce2d7;
$color-background: #f4f4f4;
$color-logo: #eaeaea;

* {
    box-sizing: border-box;
    text-decoration: inherit;
}
