$color-text-primary: #2a2a2a;
$color-text-secondary: #2b2b2b;
$color-surface-primary: #fff;
$color-brand-primary: #285e67;
$color-brand-secondary: #fce2d7;
$color-background: #f4f4f4;
$color-logo: #eaeaea;

* {
    box-sizing: border-box;
    text-decoration: inherit;
}

body {
    font-family: Poppins, sans-serif;
    font-style: normal;
}

@mixin button($text-color, $bg: transparent, $border: none, $padding: 16px 80px, $radius: 67px) {
    padding: $padding;
    color: $text-color;
    text-align: center;
    cursor: pointer;
    background: $bg;
    border: $border;
    border-radius: $radius;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &:hover {
        box-shadow: 0 8px 20px rgb(0 0 0 / 20%);
        transform: translateY(-3px);
    }

    &:active {
        box-shadow: 0 4px 10px rgb(0 0 0 / 15%);
        transform: translateY(-1px);
    }

    &:disabled {
        pointer-events: none;
        opacity: 0.6;
    }
}

.paragraph {
    &__h1 {
        line-height: 1.25;

        @media (min-width: 1024px) {
            font-size: 65.34px;
        }

        @media (min-width: 600px) and (max-width: 1024px) {
            font-size: 40px;
        }
    }

    &__h2 {
        font-weight: 600;
        line-height: 1.2;

        @media (min-width: 1024px) {
            font-size: 50.52px;
        }

        @media (min-width: 600px) and (max-width: 1024px) {
            font-size: 40px;
        }
    }

    &__item {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
    }

    &__subtitle {
        font-size: 37.9px;
        font-weight: 600;
        line-height: 0.95;
    }

    &__text {
        font-size: 21.33px;
        font-weight: 600;
        line-height: 1.12;
    }

    &__description {
        font-size: 21.33px;
        font-weight: 400;
        line-height: 1.14;
    }

    &__p {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
    }
}
