$color-text-primary: #2a2a2a;
$color-text-secondary: #2b2b2b;
$color-surface-primary: #fff;
$color-brand-primary: #285e67;
$color-brand-secondary: #fce2d7;
$color-background: #f4f4f4;
$color-logo: #eaeaea;

* {
  text-decoration: inherit;
}

@mixin style-text(
  $fontFamily,
  $fontStack,
  $fontWeight,
  $fontSize,
  $lineHeight
) {
  font-family: $fontFamily, $fontStack;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
}
