@use "../../styles/variables" as *;

.logo {
  display: flex;
  gap: 12px;
  align-items: center;
  color: $color-brand-primary;
  text-align: center;

  &::before {
    width: 26px;
    height: 26px;
    content: "";
    background-color: $color-logo;
    border-radius: 50%;
  }
}
