@use "../../styles/variables" as *;

.logo {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  font-family: Poppins, sans-serif;
  font-size: 21.33px;
  font-style: semibold;
  font-weight: 600;
  line-height: 24px;
  color: $colorBrandPrimary;
  text-align: center;
  letter-spacing: 0;

  &::before {
    width: 26px;
    height: 26px;
    content: "";
    background-color: $colorBackground;
    border-radius: 50%;
  }
}
