.container {
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 600px) and (max-width: 1023px) {
        padding-right: 6.5%;
        padding-left: 6.5%;
    }
}

.div {
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
    flex-direction: column;
    min-height: 100vh;
}
