@use "../../styles/variables" as *;

.produce {
    @media (min-width: 600px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
        gap: 50px;
        margin: 0 0 104px;
    }

    @media (min-width: 600px) and (max-width: 1023px) {
        gap: 25px;
        margin-bottom: 80px;
    }

    @media (max-width: 599px) {
        margin-bottom: 36px;
    }

    &__icon {
        flex-shrink: 0;
        max-width: 52px;
        height: auto;
        margin-right: 23px;
    }

    &__image {
        border-radius: 16px;

        @media (max-width: 599px) {
            margin-bottom: 25px;
        }
    }

    &__content {
        @media (min-width: 1024px) {
            gap: 50px;
            padding: 50px 0;
        }

        @media (max-width: 1023px) {
            gap: 25px;
        }
    }

    &__title {
        display: block;

        @media (min-width: 300px) and (max-width: 1023px) {
            margin-bottom: 16px;
        }

        @media (min-width: 1024px) {
            margin-bottom: 40px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
    }

    &__content-text {
        display: block;
        color: $color-text-primary;
        text-align: justify;

        @media (min-width: 300px) and (max-width: 1023px) {
            margin-bottom: 26px;
        }

        @media (min-width: 1024px) {
            margin-bottom: 50px;
        }
    }

    &__icon-item {
        padding: 0 24px 0 0;
    }

    &__item {
        display: flex;
        align-items: center;
        color: $color-brand-primary;
    }
}
