@use "../../styles/variables" as *;

.produce {
    display: flex;
    margin: 0 0 104px;

    @media (min-width: 1024px) {
        gap: 50px;
    }

    @media (min-width: 600px) and (max-width: 1023px) {
        gap: 25px;
    }

    &__icon {
        flex-shrink: 0;
        max-width: 52px;
        height: auto;
        margin-right: 23px;
    }

    &__image {
        height: auto;
        border-radius: 16px;

        @media (min-width: 1024px) {
            max-width: 100%;
        }

        @media (min-width: 600px) and (max-width: 1023px) {
            max-width: 50%;
            object-fit: cover;
        }
    }

    &__content {
        // TODO: Видалити флекс тут, просто поставити margin-bottom між елементами

        @media (min-width: 1024px) {
            gap: 50px;
            padding: 50px 0;
        }

        @media (min-width: 3000px) and (max-width: 1023px) {
            gap: 25px;
        }
    }

    &__title {
        display: block;

        @media (min-width: 300px) and (max-width: 1023px) {
            margin-bottom: 16px;
        }

        @media (min-width: 1024px) {
            margin-bottom: 40px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
    }

    &__content-text {
        display: block;
        color: $color-text-primary;
        text-align: justify;

        @media (min-width: 300px) and (max-width: 1023px) {
            margin-bottom: 26px;
        }

        @media (min-width: 1024px) {
            margin-bottom: 50px;
        }
    }

    &__icon-item {
        padding: 0 24px 0 0;
    }

    &__item {
        display: flex;
        align-items: center;
        color: $color-brand-primary;
    }
}
