@use "../../styles/variables" as *;

.produce {
    display: flex;
    margin: 0 0 104px;

    @media (min-width: 1024px) {
        gap: 50px;
    }

    @media (min-width: 600px) and (max-width: 1023px) {
        gap: 25px;
    }

    &__icon {
        max-width: 52px;
        height: auto;
        margin-right: 23px;

        @media (min-width: 600px) and (max-width: 1023px) {
            flex-shrink: 0;
        }
    }

    &__image {
        height: auto;
        border-radius: 16px;

        @media (min-width: 1024px) {
            max-width: 100%;
        }

        @media (min-width: 600px) and (max-width: 1023px) {
            max-width: 50%;
            object-fit: cover;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding: 4%;
    }

    &__title {
        display: block;
        margin: 0 0 50px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        padding: 16px 8px;
    }

    &__content-text {
        display: block;
        color: $color-text-primary;
    }

    &__icon-item {
        padding: 0 24px 0 0;
    }

    &__item {
        display: flex;
        align-items: center;
        color: $color-brand-primary;
    }
}
