@use "../../styles/variables" as *;

.wellbeing {
    display: flex;
    margin: 0 0 104px;
    background-color: $color-background;

    @media (min-width: 1024px) {
        justify-content: space-around;
    }

    @media (min-width: 600px) and (max-width: 1023px) {
        justify-content: center;
    }

    &__main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        @media (min-width: 600px) and (max-width: 1023px) {
            max-width: 844px;
            text-align: center;
        }
    }

    &__list {
        display: flex;
        gap: 69px;
        align-items: center;
        max-width: 589px;
    }

    &__item {
        padding-bottom: 52px;
    }

    &__image {
        max-width: 100%;
        height: auto;
        padding: 144px 0 8px;

        @media (min-width: 600px) and (max-width: 1023px) {
            display: none;
        }
    }

    &__title {
        padding: 0 0 61px;
        font-family: Poppins, sans-serif;
        font-size: 50.52px;
        font-weight: 600;
        line-height: 62px;
        letter-spacing: 0;
    }

    &__icon {
        padding: 14px 16px;
        margin: 0 0 20px;
        color: $color-surface-primary;
        background-color: $color-brand-primary;
        border-radius: 9px;
    }

    &__content-text {
        font-family: Poppins, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}
