@use "../../styles/variables" as *;

.wellbeing {
    background-color: $color-background;
    border-radius: 16px;

    @media (min-width: 600px) and (max-width: 1023px) {
        padding: 105px 20px;
        margin-bottom: 80px;
    }

    @media (min-width: 1024px) {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        padding: 50px 110px;
        margin: 0 0 104px;
    }

    // @media (min-width: 600px) and (max-width: 1023px) {
    //     padding: 64px 147px 96px;
    // }
    @media (max-width: 599px) {
        padding: 75px 30px 32px;
        margin-bottom: 36px;
    }

    &__main {
        @media (min-width: 1024px) {
            padding-top: 50px;
        }

        @media (max-width: 1023px) {
            text-align: center;
        }
    }

    &__list {
        display: flex;
        gap: 69px;

        @media (max-width: 599px) {
            flex-wrap: wrap;
        }

        @media (max-width: 1023px) {
            justify-content: center;
        }
    }

    &__item {
        max-width: 260px;

        @media (max-width: 1023px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__image {
        align-self: flex-end;
        max-width: 100%;
        height: auto;
        margin: 0 0 -42px;

        @media (min-width: 300px) and (max-width: 1023px) {
            display: none;
        }
    }

    &__title {
        margin: 0 auto 61px;

        @media (max-width: 599px) {
            text-align: center;
        }
    }

    &__icon {
        min-width: 58px;
        min-height: 57px;
        padding: 14px 16px;
        margin: 0 0 20px;
        color: $color-surface-primary;
        background-color: $color-brand-primary;
        border-radius: 9px;
    }

    &__content-text {
        font-family: Poppins, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
    }
}
