@use "../../styles/variables" as *;

.nav {
  &__contacts {
    display: flex;
    gap: 40px;
  }

  &__contact {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: currentColor;
    padding: 10px 5px;
  }
}
