@use "../../styles/variables" as *;

.nav {
    &__contacts {
        display: flex;

        @media (min-width: 600px) {
            gap: 40px;
        }

        @media (max-width: 599px) {
            gap: 30px;
        }
    }

    &__contact {
        padding: 10px 5px;
        color: inherit;
    }
}
