@use "../../styles/variables" as *;

.nav {
  &__contacts {
    display: flex;
    gap: 40px;
  }

  &__contact {
    padding: 10px 5px;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: regular;
    font-weight: 400;
    line-height: 24px;
    color: currentcolor;
    letter-spacing: 0;
  }
}
