@use "../../styles/variables" as *;

.nav {
    &__contacts {
        display: flex;
        gap: 40px;

        @media (max-width: 599px) {
            margin-bottom: 40px;
        }
    }

    &__contact {
        padding: 10px 5px;
        color: inherit;
    }
}
