@use "../../styles/variables" as *;

.header {
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 22px 0;
    color: $color-text-secondary;
    background-color: $color-surface-primary;

    &__menu-nav {
        @media (max-width: 599px) {
            display: none;
        }
    }

    &__burger {
        @media (min-width: 600px) {
            display: none;
        }
    }
}
