@use "../../styles/variables" as *;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 0;

    &__menu-nav {
        @media (max-width: 480px) {
            display: none;
        }
    }

    &__burger {
        @media (min-width: 481px) {
            display: none;
        }
    }
}
