@use "../../styles/variables" as *;

.header {
  display: flex;
  margin: 32px 18px 142px;
  justify-content: space-between;
  align-items: center;
}

.header__menu-nav {
  @media (min-width: 481px) {
    display: block;
  }

  @media (max-width: 480px) {
    display: none;
  }
}
