@use "../../styles/variables" as *;

.burger-menu {
  @media (min-width: 481px) {
    display: none;
  }

  @media (max-width: 480px) {
    display: block;
    position: relative;

    &__btn {
      background: none;
      border: none;
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
    &__content {
      display: block;
      background: transparent;

      &::before {
        top: 0;
        transform: rotate(45deg);
      }

      &::after {
        top: 0;
        transform: rotate(-45deg);
      }
    }
    &__icon {
      display: block;
      height: 3px;
      background: #000;
      position: relative;
      transition: 0.3s;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background: #000;
        transition: 0.3s;
      }

      &::before {
        top: -8px;
      }

      &::after {
        top: 8px;
      }

      &.open {
        background: transparent;

        &::before {
          top: 0;
          transform: rotate(45deg);
        }

        &::after {
          top: 0;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
