@use "../../styles/variables" as *;
.mobile-menu {
  right: -40%;
  width: 100vw;
  height: 100vh;
  background-color: $colorBrandPrimary;
  transition: right 1s cubic-bezier(0.38, 0.5, 0.32, 1.54);
}

.burger-menu {
  @media (min-width: 481px) {
    display: none;
  }

  @media (max-width: 480px) {
    display: block;
    position: relative;

    &__btn {
    }

    &__content {
      display: block;
      background: transparent;
      display: flex;
      flex-direction: column;
    }
  }

  &_open {
    right: 0;
  }
  &__icon {
  }
}

.burger-nav {
  &__list {
    flex-direction: column;
    gap: 10px;
  }
}
.burger-menu__btn {
  cursor: pointer;
  // position: absolute;
  z-index: 100;
}
