@use "../../styles/variables" as *;

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100vw;
  height: 100vh;
  background-color: $colorBrandPrimary;
  transition: right 300ms cubic-bezier(0.38, 0.5, 0.32, 1.54);

  &__btn {
    z-index: 100;
    cursor: pointer;
  }

  &__content {
    display: block;
    display: flex;
    flex-direction: column;
    background: transparent;
  }

  &_open {
    right: 0;
  }

  &__list {
    flex-direction: column;
    gap: 10px;
  }
}
