@use "../../styles/variables" as *;

.burger {
    display: flex;
    flex-direction: column;
    gap: 6px;

    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: inherit;

    span {
        width: 24px;
        height: 2px;
        background: currentColor;

        transform-origin: center;
        transition: transform 0.3s ease, opacity 0.2s ease;
    }

    &_open {
        span:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }

        span:nth-child(2) {
            opacity: 0;
            transform: scaleX(0);
        }

        span:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }
}

.mobile-menu {
    &__content {
        display: flex;
    }

    &__list {
        flex-direction: column;
    }
}
