@use "../../styles/variables" as *;

.burger {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 0;
    color: inherit;
    cursor: pointer;
    background: none;
    border: none;

    span {
        width: 24px;
        height: 2px;
        background: currentColor;
        transform-origin: center;
        transition: transform 0.3s ease, opacity 0.2s ease;
    }

    &_open {
        color: $color-surface-primary;

        span:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }

        span:nth-child(2) {
            opacity: 0;
            transform: scaleX(0);
        }

        span:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }
}

.mobile-menu {
    position: fixed;
    z-index: 50;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    background-color: $color-brand-primary;
    transform: translateX(100%);
    transition: transform 500ms ease;

    &_open {
        transform: translateX(0);
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__list {
        flex-direction: column;
        align-items: end;
        padding: 20px;
        color: $color-surface-primary;
    }
}
