@use "../../styles/variables" as *;

.features {
  max-width: 1165px;
  margin: 0 68.5px;
  background-color: $colorBrandSecondary;
  transform: translateY(-50%);

  &__list {
    display: flex;
    gap: 17px;
    justify-content: space-around;
    padding: 0 66px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 119px 0;
  }

  &__text {
    padding: 11px;
    font-family: Poppins, sans-serif;
    font-size: 21.33px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0;
  }

  &__button {
    gap: 16px;
    width: 257;
    height: 56;
    padding: 16px;
    border-width: 1px;
    border-radius: 67px;
  }
}
