@use "../../styles/variables" as *;

.features {
    max-width: 1165px;
    margin: 0 68.5px;
    background-color: $color-brand-secondary;
    transform: translateY(-50%);

    &__list {
        @media (min-width: 1024px) {
            display: flex;
            gap: 17px;
            justify-content: space-around;
            padding: 0 66px;
        }

        @media (min-width: 600px) and (max-width: 1023px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        @media (min-width: 600px) and (max-width: 700px) {
            padding: 40px;
        }

        @media (min-width: 700px) and (max-width: 1023px) {
            gap: 40px;
            justify-items: center;
            padding: 40px 60px;
        }
    }

    &__icon {
        padding: 9px;

        @media (min-width: 600px) and (max-width: 620px) {
            max-width: 30%;
            height: auto;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: 1024px) {
            padding: 119px 0;
        }
    }

    &__text {
        padding: 9px;
        font-family: Poppins, sans-serif;
        font-size: 21.33px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
    }

    &__button {
        gap: 16px;
        width: 257;
        height: 56;
        padding: 16px;
        border-width: 1px;
        border-radius: 67px;
    }
}
