@use "../../styles/variables" as *;

.features-overlap {
    @media (min-width: 1024px) {
        margin-bottom: -180px;
    }

    @media (min-width: 600px) and (max-width: 1023px) {
        margin-bottom: -160px;
    }

    @media (max-width: 599px) {
        margin-bottom: -330px;
    }
}

.features {
    margin: 0 68.5px;
    background-color: $color-brand-secondary;
    border-radius: 16px;
    transform: translateY(-50%);

    @media (max-width: 600px) {
        margin-bottom: 36px;
    }

    @media (min-width: 600px) and (max-width: 1023px) {
        margin-bottom: 80px;
    }

    @media (min-width: 1024px) {
        margin-bottom: 104px;
    }

    &__list {
        @media (min-width: 1024px) {
            display: flex;
            gap: 17px;
            justify-content: space-around;
            padding: 0 66px;
        }

        @media (max-width: 800px) {
            display: flex;
            flex-direction: column;
            gap: 40px;
            padding: 71px 0;
        }

        @media (min-width: 600px) and (max-width: 1023px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 600px) and (max-width: 700px) {
            padding: 40px;
        }

        @media (min-width: 700px) and (max-width: 1023px) {
            gap: 40px;
            padding: 40px 60px;
        }
    }

    &__icon {
        @media (max-width: 1023px) {
            max-width: 60px;
            height: auto;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: 1024px) {
            padding: 119px 0;
        }
    }

    &__text {
        padding: 9px;
        text-align: center;
    }
}
