@use "../../styles/variables" as *;

.footer {
    padding: 80px 0;
    color: $color-surface-primary;
    background-color: $color-brand-primary;

    &__container {
        @media (min-width: 600px) {
            padding: 0 68px;
        }

        @media (max-width: 599px) {
            max-width: 155px;
            margin: 0 auto;
        }

        @media (min-width: 600px) {
            display: flex;
        }

        @media (min-width: 1024px) {
            flex-wrap: wrap;
            gap: 36px;
        }

        @media (min-width: 600px) and (max-width: 1023px) {
            flex-direction: column;
            gap: 36px;
        }
    }

    &__logo {
        padding: 5px;
        color: inherit;
    }

    &__logo-wrapper {
        color: $color-surface-primary;

        @media (max-width: 599px) {
            margin-bottom: 40px;
        }

        @media (min-width: 1024px) {
            flex: 1 1 50%;
        }
    }

    &__link-list {
        display: flex;
        gap: 26px;
        padding: 0 5px;

        @media (min-width: 1024px) {
            flex: 1 1 50%;
        }
    }

    &__nav {
        color: $color-surface-primary;

        & ul {
            @media (max-width: 599px) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 36px 40px;
            }
        }
    }

    @media (min-width: 1024px) {
        flex: 1 1 50%;
    }

    &__link-icon {
        min-width: 24px;
        height: auto;
    }
}
