$colorTextPrimary: #2a2a2a;
$colorTextSecondary: #2b2b2b;
$colorSurfacePrimary: #ffffff;
$colorBrandPrimary: #285e67;
$colorBrandSecondary: #fce2d7;
$colorBackground: #f4f4f4;
$colorLogo: #eaeaea;

@mixin styleText($fontFamily, $fontStack, $fontWeight, $fontSize, $lineHeight) {
  font-family: $fontFamily, $fontStack;
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
}

* {
  text-decoration: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    &::before {
      content: "";
      width: 26px;
      height: 26px;
      background-color: $colorBackground;
      border-radius: 50%;
    }
  }
  &__text-logo {
    @include styleText("Poppins", sans-serif, 600, 21px, 1.14);
    text-align: center;
    color: $colorBrandPrimary;
    padding: 0 5px;
  }
}

.nav {
  &__contacts {
    display: flex;
    gap: 40px;
  }
  &__contact {
    @include styleText("Poppins", sans-serif, 400, 16px, 1.14);
    color: $colorTextSecondary;
    padding: 0 5px;
  }
}
.container {
  max-width: 1300px;
  margin: 0 auto;
}

.hero {
  &__title {
    font-family: Poppins;
    font-weight: 600;
    font-size: 65.34px;
    line-height: 82px;
    text-align: center;
    color: $colorTextPrimary;
  }

  &__description {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: $colorTextSecondary;
  }
  &__button {
    display: flex;
    margin: 0 auto;
  }
  &__image {
    height: 100%;
    max-width: auto;
  }

  &__images {
    display: flex;
    @media (min-width: 430px) {
      justify-content: space-between;
      gap: 48px;
    }
    @media (max-width: 430px) {
      flex-direction: column;
      gap: 28px;
    }
  }
}
.wellbeing {
  background-color: $colorBackground;

  &__main {
    display: flex;
  }
  &__list {
    display: flex;
  }
  &__image {
    height: 100%;
    max-width: auto;
  }
  &__icon {
    padding: 14px 16px;
    border-radius: 9px;
    background-color: $colorBrandPrimary;
  }
}

.produce {
  background-color: $colorBackground;
  display: flex;
  &__image {
    height: auto;
    max-width: 100%;
  }
  &__content {
    margin: 0 auto 0 53px;
  }
  &__title {
    font-family: Poppins;
    font-weight: 600;
    font-size: 50.52px;
    line-height: 1.2;
  }
  &__content-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }
  &__item {
    display: flex;
    align-items: center;
  }
}
.nutrition-info {
  display: flex;
  justify-content: center;
  background-color: $colorBackground;
  &__content {
  }
  &__title {
    font-family: Poppins;
    font-weight: 600;
    font-size: 50.52px;
    line-height: 30px;
    letter-spacing: 0px;
  }
  &____description {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
  }
  &__icon {
    padding: 14px 16px;
    border-radius: 9px;
    background-color: $colorBrandSecondary;
  }
  &__item {
    display: flex;
    align-items: center;
  }
}
.wellbeing-starts {
  background-image: url("/public/background-img.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  max-width: 1300px;
  color: $colorSurfacePrimary;
  display: flex;
  justify-self: center;
  align-items: center;
}
